In [2]:
import numpy as np
import tensorflow as tf
import pandas as pd
from create_csv import *

In [5]:
list_ = ["black","white","blue"]
N = 10
height = 5
width = 5
create_csv(list_,N,"medium",height,width,"data.csv")

Error1

In [13]:
data = pd.read_csv('data.csv')
print(data.head())

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,39,40,41,42,43,44,45,46,47,48
0,0,28,28,28,27,27,27,26,26,26,...,28,28,28,26,26,26,26,26,26,black
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,black
2,2,14,12,12,16,14,14,17,15,15,...,12,10,10,11,9,9,7,7,7,black
3,3,247,247,247,248,248,248,247,247,247,...,247,247,247,247,247,247,247,247,247,white
4,4,249,249,249,249,249,249,249,249,249,...,249,249,249,249,249,249,249,249,249,white